@model PlayerLog.MvcApp.Models.Kullanici
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
	<div class="form-group col-md-4">
		@Html.LabelFor(o => o.KullaniciAdi)
		@Html.TextBoxFor(o => o.KullaniciAdi, new { @class = "form-control" })


	</div>
	<div class="form-group">
		@Html.LabelFor(o => o.Sifre)
		@Html.TextBoxFor(o => o.Sifre, new { @class = "form-control" })

	</div>
	<div class="form-group col-md-12">

		<input type="submit" name="btnKaydet" value="Sign in" class="btn btn-primary " />
	</div>
}




