
@{
	ViewBag.Title = "PlayerLogMain";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Playerlog Main</title>
</head>


<body>
	<h2>Yakında Sizlerleyiz...</h2>
</body>
</html>
