
@{
	ViewBag.Title = "Main Ekranı";
	Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red; font-family:Verdana">HOŞGELDİNİZ</h2>

<td><a href="/Kullanici" class=" btn  btn-primary">Admin İşlemleri</a></td>

<div class="form-group">
	<label style="margin-left:auto;margin-right:auto; color:tomato">Admin Mesajları Ekleme Kapalıdır. Eklenecektir...</label>
	<textarea name="txtComment" id="editor1" class="form-control" style="margin-left:auto;margin-right:auto"></textarea>
</div>


@section scripts {


	<script src="~/ckeditor/ckeditor.js"></script>
	<script>
    var editor = CKEDITOR.instances['editor1'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('editor1', {
    enterMode: CKEDITOR.ENTER_BR,
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckeditor/ckfinder/")');
	</script>


}